.mainContainer {
  flex: 1;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 10px;
  margin-top: 15px;
  justify-content: center;
}

.pin {
  border-radius: 16px;
  background: #444;
  margin: 5px;
  cursor: zoom-in;
  position: relative;
  overflow: hidden;
}

.pin .mainPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pin.small {
  grid-row-end: span 26;
}
.pin.medium {
  grid-row-end: span 33;
}
.pin.large {
  grid-row-end: span 45;
}

.pin .content {
  height: 50px;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}
.pin .content2 {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.pin .card_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.43);
}

.pin:hover .content {
  bottom: 0;
  right: 0;
  transition: bottom 0.3s;
  padding: 0px 15px;
  opacity: 1;
}

.pin:hover .content2 {
  top: 10px;
  transition: bottom 0.3s;
  padding: 0px 15px;
  opacity: 1;
  right: 0;
}
.pin:hover .card_cover {
  top: 0;
  transition: bottom 0.3s;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0 20px;
  }

  .menuContainer {
    padding: 30px 0px;
    left: 15px;
    width: unset;
  }

  main {
    margin-left: 75px;
  }
}

/* ? Buttons in the cards */
.card_btn_save {
  background-color: red;
  font-size: 15px;
  color: white;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 28px;
}
.card_btn_save:hover {
  background-color: rgb(185, 16, 16);
}

.card_deatils {
  font-size: 90px;
}
.card_button {
  border-radius: 50%;
  width: 30px;
  padding-top: 3px;
  height: 30px;
  border: none;
  background-color: #d4d4d4;
}
.card_button:hover {
  background-color: rgb(255, 255, 255);
}
